


   <%= form_with model: @haul,local: true do |f|%>
    <div class="form-group">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
    
    <br>
   
     <%= f.label :store %>
    <%= f.text_field :store_name %>
     <br>
 
     
<%= f.collection_select(:city_id, City.all, :id, :cityname ) %>
  
    <br>
  
   
    <%= f.label :product_image %>
    <%= f.text_field :product_image %>
    <br>
 
  
    <%= f.label :discreption %>
    <%= f.text_field :discreption %>
     <br>
     </div>
     <%= f.submit "Save" %> 
   <%= link_to 'Back', hauls_path %>
<% end %>


