
<% if user_signed_in? %>


   <ul class="list-group">
   <h1>Listing Hauls</h1>
<hr style=" margin: 0 10%">
    <% @haul.each do |haul| %>
  <li class="list-group-item"><%= haul.subject %> <%= haul.store_name %>   <%= link_to 'Show', haul_path(haul)  %> 
   
      <%= link_to 'Edit', edit_haul_path(haul) %> 

   <%= link_to 'Destroy', haul_path(haul),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></li>
   <% end %>
   <li class="list-group-item " style="background:white;"> <%= link_to 'New haul', new_haul_path %></li>
</ul>
<%else%>
<p>
    "Want to add a comment? join our community if you haven't already! "
    <button>
<%= link_to 'sign in' , user_session_path %>
</button>  &nbsp; &nbsp; | &nbsp; &nbsp; <button>
  
<%= link_to 'sign up' , new_user_registration_path %></button>
  </p>
 <%end%>