


<% if user_signed_in? %>

   
<h1>Listing Hauls</h1>
<hr style=" margin: 0 10%">
<table  style="  margin: 10% auto;padding: 1px;
    text-align:center ;
     ">
  <tr>
    <th>Subject</th>
    <th>Store</th>
    <th colspan="3"></th>
  </tr>

  <% @haul.each do |haul| %>
    <tr>
      <td><%= haul.subject   %> </td>
    <td><%= haul.store_name %></td>
 

      <td><%= link_to 'Show', haul_path(haul)  %> </td>
   
      <td><%= link_to 'Edit', edit_haul_path(haul) %>  </td>

      <td><%= link_to 'Destroy', haul_path(haul),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
              </td>
              
             

</tr>

    <% end %>
    </table>
  <br>
  <%= link_to 'New haul', new_haul_path %>
  <div>
   
     </div>
    
     
 <%end%>