
<div class="people-you-might-know center2">
  <div class="add-people-header">
    <h6 class="header-title">
      Bargains From Around The Kingdom
    </h6>
  </div>

<% @global.each do |haul| %>
  


  <div class="row add-people-section">
    <div class="small-12 medium-6 columns about-people">
      <div class="about-people-avatar">
           <img src=<%=haul.product_image%> height="50", width="50" class="imgs6" >
      </div>
      <div class="about-people-author">
        <p class="author-name">
        <%= haul.subject   %> 
        </p>
        <p class="author-location">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
         
            <%= haul.user.name%> 
      <%= haul.store_name %></p>
      </div>    
    </div>
    <div class="small-12 medium-6 columns add-friend">
      <div class="add-friend-action">
     <a href="#" class="round button small">  <%if user_signed_in?%> <% if (current_user.id == haul.user_id)%>
  <%= link_to 'Delete', [haul],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
    <% end %><% end %></a>
    <%= link_to 'Show', global_path(haul)  %> 
      </div>
    </div>   </div>
  <%# </div>
 
</div> %>

<%end%>
  
  </div>
 





 


