<div class="comment-section-box">
<p id="notice"><%= notice %></p>

<h4>
 
  <%= @global.subject %>
</h4>
<p>
  <%= @global.store_name %>,
  <%=  @city.cityname%>
</p>

<p>

  <img src=<%=@global.product_image%> height="500", width="500" class="imgs6">
</p>
<p>
  <strong>Discreption:</strong>
  <%= @global.discreption %>
</p>
</div>
<%# ##################################################### %>

 
 
  <div class="comment-section-container"> 

<h3>Comments</h3>
<% @global.comments.each do |comment| %>

 <div class="comment-section-author">
 <% if comment.user.profile.image !=nil %>
 
 <img src="<%= comment.user.profile.image%>" alt="" width="50" height="50" class="imgs"> 
      <% end %>
    <div class="comment-section-name">
    
     <p>
  <%= comment.user.name%> : <%= comment.body %><br>
    
  </p>
    </div>
 
  <div class="comment-section-text">
    <%if user_signed_in?%> 
 <% if (current_user.id == comment.user_id) %>&nbsp; &nbsp;&nbsp; &nbsp;
  <%= link_to 'Delete', [comment.haul, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
    <% end %>
     </div>
     <% end %>
  </p>
  </div>
<hr>


<% end %>
</div>
  <div class="comment-section-box">
    <%if user_signed_in?%> 
<h2>Add a comment:</h2>
<%= form_with(model: [ @global, @global.comments.build ], local: true) do |form| %>
 

  <p>
    <%= form.label :body%><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit 'post' %>
  </p>
<% end %>

<% else %>
<p>
    "Want to add a comment? join our community if you haven't already! "
    <button>
<%= link_to 'sign in' , user_session_path %>
</button>  &nbsp; &nbsp; | &nbsp; &nbsp; <button>
  
<%= link_to 'sign up' , new_user_registration_path %></button>
  </p>
<% end %>





</div>



