 
 




   <ul class="list-group">
   <h1>Listing Hauls</h1>
<hr style=" margin: 0 10%">
    <% @hauls.each do |haul| %>
  <li class="list-group-item"><%= haul.subject %> <%= haul.store_name %>   <%= link_to 'Show',global_path(haul)  %> 
       <%if user_signed_in?%> 
 <% if (current_user.id == haul.user_id)%>
      <%= link_to 'Edit', edit_haul_path(haul) %> 

   <%= link_to 'Destroy', haul_path(haul),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></li>
   <% end %>  <% end %>  <% end %>

</ul>   

